# **AN ANALYSIS OF AVIATION ACCIDENTS(1919 TO 2023)**

<img src="Images\Aviation_Accidents_2.jpeg" alt="Airplane_Crash" width="750">

## **Overview**

This analysis aims at identifying the least-risk aircraft type that would encourage a well-informed purchase based on historical accidents data. This will be done by examining several variables such as accident frequency, fatality rates, aircraft type, operator and geographical distribution. This will consequently highlight the aircraft and operational environments that are associated with the highest and lowest levels of risk. Afterwards, this data will be used by the company to adjust capital investment, training programs and operational focus to improve resource allocation and minimize financial exposure in this new business endeavor.

## **Business Understanding**

The company currently wants to expand to the aviation industry so as to diversify its portfolio. Given that this involves purchasing and operating airplanes for commercial and private enterprises, all the risks involved have to be mitigated to a sustainable level. This ensures that the resource allocation will not only yield profits but also allows the the company to better serve its clients since it is expanding the scope of services they can offer. Using the NTSB Aviation Accidents data, I describe patterns in accidents frequency and accidents location to anticipate the lowest-risk aircraft to invest in.

## **Data Understanding**

The [dataset](Data/aviation-accident-data-2023-05-16.csv) for this analysis contains a compiled list of publicly available aviation accident reports that occurred over a period that spans well over a century: 1919 to 2023. The data set comprehensively provides the date, location and aircraft type for each accident as well as other characteristics (e.g. registration and operator). The dataset contains a total of 23,967 records and 9 fields.

In [1]:
# Loading the necessary libraries
import pandas as pd

In [2]:
# Loading the dataset
df_raw = pd.read_csv("Data/aviation-accident-data-2023-05-16.csv")
df_raw

,date,type,registration,operator,fatalities,location,country,cat,year
0,date unk.,Antonov An-12B,T-1206,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
1,date unk.,Antonov An-12B,T-1204,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
2,date unk.,Antonov An-12B,T-1201,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
3,date unk.,Antonov An-12BK,NaN,Soviet AF,NaN,Tiksi Airport (IKS),Russia,A1,unknown
4,date unk.,Antonov An-12BP,CCCP-11815,Soviet AF,0,Massawa Airport ...,Eritrea,A1,unknown
...,...,...,...,...,...,...,...,...,...
23962,11-MAY-2023,Hawker 900XP,PK-LRU,Angkasa Super Services,0,Maleo Airport (MOH),Indonesia,A2,2023
23963,11-MAY-2023,Cessna 208B Grand Caravan,PK-NGA,Nasional Global Aviasi,0,Fentheik Airstrip,Indonesia,A2,2023
23964,12-MAY-2023,Cessna 208B Grand Caravan,5X-RBR,Bar Aviation,0,Kampala-Kajjansi...,Uganda,A1,2023
23965,14-MAY-2023,Boeing 747-4R7F,LX-OCV,Cargolux,0,Luxembourg-Finde...,Luxembourg,A2,2023
23966,15-MAY-2023,Learjet 35A,D-CGFQ,GFD,2,Hohn Air Base,Germany,A1,2023

Initial exploration revealed that accidents involved in this dataset spanned multiple countries with most of them having none or very few fatalities with each accident being grouped into a specific similar category. There was also a significant number of missing values in the dataset which needed to be addressed otherwise, it would affect the analysis.

### Exploratory analysis of the dataset

In [3]:
# Checking the basic information of the dataset
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23967 entries, 0 to 23966
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          23967 non-null  object
 1   type          23967 non-null  object
 2   registration  22419 non-null  object
 3   operator      23963 non-null  object
 4   fatalities    20029 non-null  object
 5   location      23019 non-null  object
 6   country       23967 non-null  object
 7   cat           23967 non-null  object
 8   year          23967 non-null  object
dtypes: object(9)
memory usage: 1.6+ MB

In [4]:
# Checking columns with missing values
df_raw.isnull().sum()

date               0
type               0
registration    1548
operator           4
fatalities      3938
location         948
country            0
cat                0
year               0
dtype: int64

## **Data Preparation**

Before any meaningful insights can be drawn, the dataset must be free from any significant errors or inconsistencies. As a result, the following data preparation steps were in order:

### 1. Removing Duplicates

In [5]:
# Checking if there are any duplicate entries
df_raw.duplicated().sum()
print('There were', df_raw.duplicated().sum(), 'duplicate entries found.')

There were 115 duplicate entries found.

In [6]:
# Removing the duplicate entries
df_raw.drop_duplicates(inplace=True)
df_raw

,date,type,registration,operator,fatalities,location,country,cat,year
0,date unk.,Antonov An-12B,T-1206,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
1,date unk.,Antonov An-12B,T-1204,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
2,date unk.,Antonov An-12B,T-1201,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
3,date unk.,Antonov An-12BK,NaN,Soviet AF,NaN,Tiksi Airport (IKS),Russia,A1,unknown
4,date unk.,Antonov An-12BP,CCCP-11815,Soviet AF,0,Massawa Airport ...,Eritrea,A1,unknown
...,...,...,...,...,...,...,...,...,...
23962,11-MAY-2023,Hawker 900XP,PK-LRU,Angkasa Super Services,0,Maleo Airport (MOH),Indonesia,A2,2023
23963,11-MAY-2023,Cessna 208B Grand Caravan,PK-NGA,Nasional Global Aviasi,0,Fentheik Airstrip,Indonesia,A2,2023
23964,12-MAY-2023,Cessna 208B Grand Caravan,5X-RBR,Bar Aviation,0,Kampala-Kajjansi...,Uganda,A1,2023
23965,14-MAY-2023,Boeing 747-4R7F,LX-OCV,Cargolux,0,Luxembourg-Finde...,Luxembourg,A2,2023
23966,15-MAY-2023,Learjet 35A,D-CGFQ,GFD,2,Hohn Air Base,Germany,A1,2023

### 2. Dealing with the errors in Date column

Given the date column contains inconsistencies in the data, I decided to extract the month from the date column and do away with the days as the specific day of accident may not be necessary for my analysis

In [7]:
# Method: Extract the 3-letter month code using Regex by looking for 3 letters between two hyphens (e.g., the "MAY" in "??-MAY-1936")
df_raw['Month_extract'] = df_raw['date'].str.extract(r'-([a-zA-Z]{3})-')

# Standardize: Convert to uppercase to be safe (e.g., 'May' -> 'MAY')
df_raw['Month_extract'] = df_raw['Month_extract'].str.upper()

# Mapping the 3-letter codes to Full Names for better readability
month_map = {
    'JAN': 'January', 'FEB': 'February', 'MAR': 'March', 'APR': 'April',
    'MAY': 'May', 'JUN': 'June', 'JUL': 'July', 'AUG': 'August',
    'SEP': 'September', 'OCT': 'October', 'NOV': 'November', 'DEC': 'December'
}
df_raw['Month'] = df_raw['Month_extract'].map(month_map)

# Check the results
df_raw

,date,type,registration,operator,fatalities,location,country,cat,year,Month_extract,Month
0,date unk.,Antonov An-12B,T-1206,Indonesian AF,NaN,NaN,Unknown country,U1,unknown,NaN,NaN
1,date unk.,Antonov An-12B,T-1204,Indonesian AF,NaN,NaN,Unknown country,U1,unknown,NaN,NaN
2,date unk.,Antonov An-12B,T-1201,Indonesian AF,NaN,NaN,Unknown country,U1,unknown,NaN,NaN
3,date unk.,Antonov An-12BK,NaN,Soviet AF,NaN,Tiksi Airport (IKS),Russia,A1,unknown,NaN,NaN
4,date unk.,Antonov An-12BP,CCCP-11815,Soviet AF,0,Massawa Airport ...,Eritrea,A1,unknown,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
23962,11-MAY-2023,Hawker 900XP,PK-LRU,Angkasa Super Services,0,Maleo Airport (MOH),Indonesia,A2,2023,MAY,May
23963,11-MAY-2023,Cessna 208B Grand Caravan,PK-NGA,Nasional Global Aviasi,0,Fentheik Airstrip,Indonesia,A2,2023,MAY,May
23964,12-MAY-2023,Cessna 208B Grand Caravan,5X-RBR,Bar Aviation,0,Kampala-Kajjansi...,Uganda,A1,2023,MAY,May
23965,14-MAY-2023,Boeing 747-4R7F,LX-OCV,Cargolux,0,Luxembourg-Finde...,Luxembourg,A2,2023,MAY,May
23966,15-MAY-2023,Learjet 35A,D-CGFQ,GFD,2,Hohn Air Base,Germany,A1,2023,MAY,May

Now, to drop the 'date' column and the temporary 'Month_extract' column

In [8]:
# Dropping the date column as we have extracted the month information
# Also dropping the Month_extract column as it's no longer needed
df_raw.drop(columns=['date', 'Month_extract'], inplace=True) 
df_raw

,type,registration,operator,fatalities,location,country,cat,year,Month
0,Antonov An-12B,T-1206,Indonesian AF,NaN,NaN,Unknown country,U1,unknown,NaN
1,Antonov An-12B,T-1204,Indonesian AF,NaN,NaN,Unknown country,U1,unknown,NaN
2,Antonov An-12B,T-1201,Indonesian AF,NaN,NaN,Unknown country,U1,unknown,NaN
3,Antonov An-12BK,NaN,Soviet AF,NaN,Tiksi Airport (IKS),Russia,A1,unknown,NaN
4,Antonov An-12BP,CCCP-11815,Soviet AF,0,Massawa Airport ...,Eritrea,A1,unknown,NaN
...,...,...,...,...,...,...,...,...,...
23962,Hawker 900XP,PK-LRU,Angkasa Super Services,0,Maleo Airport (MOH),Indonesia,A2,2023,May
23963,Cessna 208B Grand Caravan,PK-NGA,Nasional Global Aviasi,0,Fentheik Airstrip,Indonesia,A2,2023,May
23964,Cessna 208B Grand Caravan,5X-RBR,Bar Aviation,0,Kampala-Kajjansi...,Uganda,A1,2023,May
23965,Boeing 747-4R7F,LX-OCV,Cargolux,0,Luxembourg-Finde...,Luxembourg,A2,2023,May
23966,Learjet 35A,D-CGFQ,GFD,2,Hohn Air Base,Germany,A1,2023,May

### 3. Dealing with inconsistencies in the data values

In [9]:
# Changing the year column to datetime format
df_raw['year'] = pd.to_datetime(df_raw['year'], errors='coerce')

# Replacing 'unknown' in the year column with NaT (Not a Time)
df_raw['year'].replace('unknown', pd.NaT, inplace=True)
df_raw

# Replace '?' and 'Unknown country' with a single standard 'Unknown' category in the country column
df_raw['country'] = df_raw['country'].replace(['?', 'Unknown country'], 'Unknown')

# Mapping the broken and invalid text to the correct names of the countries
replacements = {
    'CuraÃ§ao': 'Curacao',
    'Saint BarthÃ©lemy': 'Saint Barthelemy'
}
df_raw['country'] = df_raw['country'].replace(replacements)

### 4. Checking and dealing with missing values

The following fields had missing values:

In [10]:
df_raw.isnull().sum()

type               0
registration    1434
operator           4
fatalities      3833
location         932
country            0
cat                0
year              61
Month            295
dtype: int64

Since my analysis will be heavily time-based, the 'year' column has some null values which cannot be imputed. Instead, dropping these values will be the feasible way to deal with the 61 missing entries.

In [11]:
# Dropping the missing values in the 'year' column
df_raw.dropna(subset=['year'], inplace=True)

In [ ]:
# Replacing the null values of the 'fatalities' column with the mode 
df_raw['fatalities'] = df_raw['fatalities'].fillna(df_raw['fatalities'].mode()[0])

# Replacing the null values of the 'registration' column with 'unknown'
df_raw['registration'] = df_raw['registration'].fillna('unknown')

# Replacing the null values of the 'operator' column with 'unknown'
df_raw['operator'] = df_raw['operator'].fillna('unknown')

# Replacing the null values of the 'location' column with 'unknown'
df_raw['location'] = df_raw['location'].fillna('unknown')

# Replacing the null values of the 'Month' column with 'Unknown'
df_raw['Month'] = df_raw['Month'].fillna('Unknown')

# Final check for any remaining missing values
df_raw.isnull().sum()

type            0
registration    0
operator        0
fatalities      0
location        0
country         0
cat             0
year            0
Month           0
dtype: int64